:root {
	--web-view-ids: Desktop_Home,Tablet_Home,Mobile_Home;
	--web-view-name: Desktop Home;
	--web-view-id: Desktop_Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: true;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: true;
	--web-application: false;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
}
#Desktop_Home,
#Tablet_Home,
#Mobile_Home {
	display: none;
}
@media (min-width: 1920px) {
	.mediaViewInfo {
		--web-view-name: Desktop Home;
		--web-view-id: Desktop_Home;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Desktop_Home {
		position: absolute;
		display: block;
		width: 1920px;
		height: 2414px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Desktop Home;
		--web-view-id: Desktop_Home;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#Contact {
		position: absolute;
		width: 262px;
		height: 121px;
		left: 829px;
		top: 2207px;
		overflow: visible;
	}
	#elliott2000hotmailcom {
		left: 35px;
		top: 53px;
		position: absolute;
		overflow: visible;
		width: 228px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(36,36,36,1);
	}
	#ZappyMan6311 {
		left: 70px;
		top: 94px;
		position: absolute;
		overflow: visible;
		width: 159px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(36,36,36,1);
	}
	#Mask_Group_2 {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 0px;
		top: 53px;
		overflow: visible;
	}
	#Mask_Group_3 {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 35px;
		top: 94px;
		overflow: visible;
	}
	#Line_4 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_4 {
		overflow: visible;
		position: absolute;
		width: 176.5px;
		height: 1px;
		left: 40px;
		top: 34.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Contact_Info {
		left: 40px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 184px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(36,36,36,1);
	}
	#About_me {
		position: absolute;
		width: 1644px;
		height: 476px;
		left: 136px;
		top: 1576px;
		overflow: visible;
	}
	#My_names_Elliott_Im_from_Portl {
		left: 0px;
		top: 174px;
		position: absolute;
		overflow: visible;
		width: 1006px;
		height: 268px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(36,36,36,1);
	}
	#About_Me {
		left: 0px;
		top: 28px;
		position: absolute;
		overflow: visible;
		width: 631px;
		white-space: nowrap;
		line-height: 164px;
		margin-top: -22px;
		text-align: left;
		font-family: Microsoft Tai Le;
		font-style: normal;
		font-weight: bold;
		font-size: 120px;
		color: rgba(99,99,99,1);
		letter-spacing: 0.1px;
		text-transform: uppercase;
	}
	#closeUp {
		position: absolute;
		width: 476px;
		height: 476px;
		left: 1168px;
		top: 0px;
		overflow: visible;
	}
	#Background {
		position: absolute;
		width: 2411px;
		height: 1630px;
		left: 0px;
		top: -190px;
		overflow: visible;
	}
	#ID85360023 {
		position: relative;
		width: 2301px;
		height: 1525px;
		left: 110px;
		top: 0px;
		overflow: visible;
	}
	#Left-Side_Gradiant_z {
		fill: url(#Left-Side_Gradiant_z);
	}
	.Left-Side_Gradiant_z {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1235px;
		left: 0px;
		top: 290px;
	}
	#Tablet {
		position: absolute;
		width: 512px;
		height: 737px;
		left: 132px;
		top: 893px;
		overflow: visible;
	}
	#Rectangle_9_ {
		fill: url(#Rectangle_9_);
	}
	.Rectangle_9_ {
		position: absolute;
		overflow: visible;
		width: 501px;
		height: 172px;
		left: 11px;
		top: 565px;
	}
	#Rectangle_7_ {
		fill: url(#Rectangle_7_);
	}
	.Rectangle_7_ {
		position: absolute;
		overflow: visible;
		width: 501px;
		height: 639px;
		left: 11px;
		top: 0px;
	}
	#Rectangle_6_ {
		fill: url(#Rectangle_6_);
	}
	.Rectangle_6_ {
		position: absolute;
		overflow: visible;
		width: 501px;
		height: 640px;
		left: 0px;
		top: 11px;
	}
	#Language_Experience {
		mix-blend-mode: normal;
		position: absolute;
		width: 367.165px;
		height: 180.123px;
		left: 55px;
		top: 221px;
		overflow: visible;
	}
	#CC_C_HTMLCSS_JavaScript_Python {
		left: 1px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 82px;
		white-space: nowrap;
		line-height: 26px;
		margin-top: -5px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}
	#Line_1 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 366.986px;
		height: 2.883px;
		left: 0.184px;
		top: 35.521px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3 {
		overflow: visible;
		position: absolute;
		width: 366.986px;
		height: 2.883px;
		left: 0.184px;
		top: 179.24px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Language_Experience_bb {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 301px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(0,0,0,1);
	}
	#Interests {
		mix-blend-mode: normal;
		position: absolute;
		width: 367.048px;
		height: 153.496px;
		left: 56px;
		top: 460px;
		overflow: visible;
	}
	#Robotics_Photography_Neural_Ne {
		left: 0px;
		top: 41px;
		position: absolute;
		overflow: visible;
		width: 119px;
		white-space: nowrap;
		line-height: 26px;
		margin-top: -5px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}
	#Line_1_be {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_be {
		overflow: visible;
		position: absolute;
		width: 366.986px;
		height: 2.883px;
		left: 0.067px;
		top: 36.266px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3_bf {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3_bf {
		overflow: visible;
		position: absolute;
		width: 366.986px;
		height: 2.883px;
		left: 0.067px;
		top: 152.613px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Interests_bg {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 122px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(0,0,0,1);
	}
	#Background_bh {
		mix-blend-mode: normal;
		position: absolute;
		width: 366.981px;
		height: 126.647px;
		left: 55.184px;
		top: 36px;
		overflow: visible;
	}
	#Computer_Science_Undergraduate {
		left: 5.816px;
		top: 42px;
		position: absolute;
		overflow: visible;
		width: 293px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}
	#Line_1_bj {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_bj {
		overflow: visible;
		position: absolute;
		width: 366.986px;
		height: 2.883px;
		left: 0px;
		top: 36.587px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3_bk {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3_bk {
		overflow: visible;
		position: absolute;
		width: 366.986px;
		height: 2.883px;
		left: 0px;
		top: 125.764px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Background_bl {
		left: 0.816px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 172px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(0,0,0,1);
	}
	#Welcome {
		left: 132px;
		top: 489px;
		position: absolute;
		overflow: visible;
		width: 818px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft Tai Le;
		font-style: normal;
		font-weight: bold;
		font-size: 164px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.1px;
		text-transform: uppercase;
	}
	#Im_Elliott_Chimienti {
		left: 132px;
		top: 665px;
		position: absolute;
		overflow: visible;
		width: 431px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	#Navigation {
		position: absolute;
		width: 1920px;
		height: 150px;
		left: 0px;
		top: -50px;
		overflow: visible;
	}
	#Rectangle_2 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 100px;
		left: 0px;
		top: 50px;
	}
	#Component_1__1 {
		position: absolute;
		width: 188px;
		height: 109px;
		left: 442px;
		top: 5px;
		overflow: visible;
	}
	#Photography:hover {
		margin-left: 0px;
		margin-top: 0px;
		width: 189px;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Photography {
		left: 19px;
		top: 83px;
		position: absolute;
		overflow: visible;
		width: 151px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(112,112,112,1);
		text-transform: uppercase;
		transition: all .3s ease-out;
	}
	#Photography_bt {
		margin-left: 0px;
		margin-top: 0px;
		position: absolute;
		overflow: visible;
		width: 189px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#GitHub-Mark-120px-plus {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 1690px;
		top: 88px;
		overflow: visible;
	}
	#Mask_Group_1 {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 1753px;
		top: 88px;
		overflow: visible;
	}
	#Component_3__9 {
		position: absolute;
		width: 120px;
		height: 114px;
		left: 265px;
		top: 0px;
		overflow: visible;
	}
	#Projects:hover {
		padding-left: 0px;
		padding-top: 0px;
		width: 77px;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Projects {
		left: 12px;
		top: 88px;
		position: absolute;
		overflow: visible;
		width: 97px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(112,112,112,1);
		text-transform: uppercase;
		transition: all .3s ease-out;
	}
	#Projects_bz {
		padding-left: 0px;
		padding-top: 0px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Component_3__1 {
		position: absolute;
		width: 76px;
		height: 114px;
		left: 132px;
		top: 0px;
		overflow: visible;
	}
	#Home_b:hover {
		padding-left: 0px;
		padding-top: 0px;
		width: 77px;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Home_b {
		left: 8px;
		top: 88px;
		position: absolute;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(112,112,112,1);
		text-transform: uppercase;
		transition: all .3s ease-out;
	}
	#Home_cb {
		padding-left: 0px;
		padding-top: 0px;
		position: absolute;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
}
@media (min-width: 1347px) and (max-width: 1919px) {
	.mediaViewInfo {
		--web-view-name: Tablet Home;
		--web-view-id: Tablet_Home;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Tablet_Home {
		position: absolute;
		display: block;
		width: 1347px;
		height: 2414px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Tablet Home;
		--web-view-id: Tablet_Home;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#Contact_b {
		position: absolute;
		width: 262px;
		height: 121px;
		left: 543px;
		top: 2215px;
		overflow: visible;
	}
	#elliott2000hotmailcom_b {
		left: 35px;
		top: 53px;
		position: absolute;
		overflow: visible;
		width: 228px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(36,36,36,1);
	}
	#ZappyMan6311_b {
		left: 70px;
		top: 94px;
		position: absolute;
		overflow: visible;
		width: 159px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(36,36,36,1);
	}
	#Mask_Group_2_b {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 0px;
		top: 53px;
		overflow: visible;
	}
	#Mask_Group_3_ca {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 35px;
		top: 94px;
		overflow: visible;
	}
	#Line_4_cb {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_4_cb {
		overflow: visible;
		position: absolute;
		width: 176.5px;
		height: 1px;
		left: 39px;
		top: 34.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Contact_Info_cc {
		left: 39px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 184px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(36,36,36,1);
	}
	#About_me_cd {
		position: absolute;
		width: 1149px;
		height: 556px;
		left: 99px;
		top: 1506px;
		overflow: visible;
	}
	#My_names_Elliott_Im_from_Portl_ce {
		left: 0px;
		top: 174px;
		position: absolute;
		overflow: visible;
		width: 576px;
		height: 382px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(36,36,36,1);
	}
	#About_Me_cf {
		left: 0px;
		top: 28px;
		position: absolute;
		overflow: visible;
		width: 631px;
		white-space: nowrap;
		line-height: 164px;
		margin-top: -22px;
		text-align: left;
		font-family: Microsoft Tai Le;
		font-style: normal;
		font-weight: bold;
		font-size: 120px;
		color: rgba(99,99,99,1);
		letter-spacing: 0.1px;
		text-transform: uppercase;
	}
	#closeUp_cg {
		position: absolute;
		width: 476px;
		height: 476px;
		left: 673px;
		top: 0px;
		overflow: visible;
	}
	#Background_ch {
		position: absolute;
		width: 2485px;
		height: 1706px;
		left: -305px;
		top: -333px;
		overflow: visible;
	}
	#ID85360023_ci {
		position: relative;
		width: 2485px;
		height: 1647px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Left-Side_Gradiant_ck {
		fill: url(#Left-Side_Gradiant_ck);
	}
	.Left-Side_Gradiant_ck {
		position: absolute;
		overflow: visible;
		width: 1347px;
		height: 1214px;
		left: 305px;
		top: 433px;
	}
	#Tablet_cl {
		position: absolute;
		width: 492px;
		height: 709px;
		left: 404px;
		top: 997px;
		overflow: visible;
	}
	#Rectangle_9_cn {
		fill: url(#Rectangle_9_cn);
	}
	.Rectangle_9_cn {
		position: absolute;
		overflow: visible;
		width: 482px;
		height: 166px;
		left: 10px;
		top: 543px;
	}
	#Rectangle_7_cp {
		fill: url(#Rectangle_7_cp);
	}
	.Rectangle_7_cp {
		position: absolute;
		overflow: visible;
		width: 482px;
		height: 615px;
		left: 10px;
		top: 0px;
	}
	#Rectangle_6_cr {
		fill: url(#Rectangle_6_cr);
	}
	.Rectangle_6_cr {
		position: absolute;
		overflow: visible;
		width: 482px;
		height: 615px;
		left: 0px;
		top: 11px;
	}
	#Language_Experience_cs {
		mix-blend-mode: normal;
		position: absolute;
		width: 352.89px;
		height: 174.071px;
		left: 53px;
		top: 212px;
		overflow: visible;
	}
	#CC_C_HTMLCSS_JavaScript_Python_ct {
		left: 0px;
		top: 39px;
		position: absolute;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		line-height: 28px;
		margin-top: -5.5px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color: rgba(51,51,51,1);
	}
	#Line_1_cu {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_cu {
		overflow: visible;
		position: absolute;
		width: 352.838px;
		height: 2.849px;
		left: 0.056px;
		top: 35.045px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3_cv {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3_cv {
		overflow: visible;
		position: absolute;
		width: 352.838px;
		height: 2.849px;
		left: 0.056px;
		top: 173.222px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Language_Experience_cw {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 290px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Interests_cx {
		mix-blend-mode: normal;
		position: absolute;
		width: 353.739px;
		height: 148.257px;
		left: 53px;
		top: 442px;
		overflow: visible;
	}
	#Robotics_Photography_Neural_Ne_cy {
		left: 1px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 127px;
		white-space: nowrap;
		line-height: 28px;
		margin-top: -5.5px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color: rgba(51,51,51,1);
	}
	#Line_1_cz {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_cz {
		overflow: visible;
		position: absolute;
		width: 352.838px;
		height: 2.849px;
		left: 0.905px;
		top: 35.547px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3_c {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3_c {
		overflow: visible;
		position: absolute;
		width: 352.838px;
		height: 2.849px;
		left: 0.905px;
		top: 147.408px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Interests_c {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 118px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Background_c {
		mix-blend-mode: normal;
		position: absolute;
		width: 352.89px;
		height: 121.79px;
		left: 53px;
		top: 35px;
		overflow: visible;
	}
	#Computer_Science_Undergraduate_c {
		left: 6px;
		top: 40px;
		position: absolute;
		overflow: visible;
		width: 293px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}
	#Line_1_c {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_c {
		overflow: visible;
		position: absolute;
		width: 352.838px;
		height: 2.849px;
		left: 0.056px;
		top: 35.202px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3_da {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3_da {
		overflow: visible;
		position: absolute;
		width: 352.838px;
		height: 2.849px;
		left: 0.056px;
		top: 120.941px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Background_da {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 166px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(0,0,0,1);
	}
	#Welcome_c {
		left: 403px;
		top: 582px;
		position: absolute;
		overflow: visible;
		width: 818px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft Tai Le;
		font-style: normal;
		font-weight: bold;
		font-size: 164px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.1px;
		text-transform: uppercase;
	}
	#Im_Elliott_Chimienti_c {
		left: 403px;
		top: 758px;
		position: absolute;
		overflow: visible;
		width: 431px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	#Navigation_c {
		position: absolute;
		width: 1347px;
		height: 151px;
		left: 0px;
		top: -51px;
		overflow: visible;
	}
	#Rectangle_2_da {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_2_da {
		position: absolute;
		overflow: visible;
		width: 1347px;
		height: 100px;
		left: 0px;
		top: 51px;
	}
	#Component_3__2 {
		position: absolute;
		width: 76px;
		height: 113px;
		left: 87px;
		top: 0px;
		overflow: visible;
	}
	#Home_dc:hover {
		padding-left: 0px;
		padding-top: 0px;
		width: 77px;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Home_dc {
		left: 12px;
		top: 91px;
		position: absolute;
		overflow: visible;
		width: 53px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(112,112,112,1);
		text-transform: uppercase;
		transition: all .3s ease-out;
	}
	#Home_de {
		padding-left: 0px;
		padding-top: 0px;
		position: absolute;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Component_1__2 {
		position: absolute;
		width: 128px;
		height: 100px;
		left: 351px;
		top: 13px;
		overflow: visible;
	}
	#Photography_dg:hover {
		margin-left: 0px;
		margin-top: 0px;
		width: 189px;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Photography_dg {
		left: 0px;
		top: 78px;
		position: absolute;
		overflow: visible;
		width: 129px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(112,112,112,1);
		text-transform: uppercase;
		transition: all .3s ease-out;
	}
	#Photography_di {
		margin-left: 0px;
		margin-top: 0px;
		position: absolute;
		overflow: visible;
		width: 129px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#GitHub-Mark-120px-plus_dj {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 1170px;
		top: 88px;
		overflow: visible;
	}
	#Mask_Group_4 {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 1221px;
		top: 88px;
		overflow: visible;
	}
	#Component_3__10 {
		position: absolute;
		width: 120px;
		height: 113px;
		left: 197px;
		top: 0px;
		overflow: visible;
	}
	#Projects_dm:hover {
		padding-left: 0px;
		padding-top: 0px;
		width: 77px;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Projects_dm {
		left: 19px;
		top: 91px;
		position: absolute;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(112,112,112,1);
		text-transform: uppercase;
		transition: all .3s ease-out;
	}
	#Projects_do {
		padding-left: 0px;
		padding-top: 0px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
}
@media (min-width: 0px) and (max-width: 1346px) {
	.mediaViewInfo {
		--web-view-name: Mobile Home;
		--web-view-id: Mobile_Home;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Mobile_Home {
		position: absolute;
		display: block;
		width: 799px;
		height: 3260px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Mobile Home;
		--web-view-id: Mobile_Home;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#Contact_dr {
		position: absolute;
		width: 262px;
		height: 121px;
		left: 269px;
		top: 3059px;
		overflow: visible;
	}
	#Line_4_ds {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_4_ds {
		overflow: visible;
		position: absolute;
		width: 176.5px;
		height: 1px;
		left: 42px;
		top: 34.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Contact_Info_dt {
		left: 42px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 184px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(36,36,36,1);
	}
	#elliott2000hotmailcom_du {
		left: 35px;
		top: 53px;
		position: absolute;
		overflow: visible;
		width: 228px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(36,36,36,1);
	}
	#ZappyMan6311_dv {
		left: 70px;
		top: 94px;
		position: absolute;
		overflow: visible;
		width: 159px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(36,36,36,1);
	}
	#Mask_Group_2_dw {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 0px;
		top: 53px;
		overflow: visible;
	}
	#Mask_Group_3_dx {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 35px;
		top: 94px;
		overflow: visible;
	}
	#About_me_dy {
		position: absolute;
		width: 630px;
		height: 1032px;
		left: 85px;
		top: 1953px;
		overflow: visible;
	}
	#My_names_Elliott_Im_from_Portl_dz {
		left: 27px;
		top: 650px;
		position: absolute;
		overflow: visible;
		width: 576px;
		height: 382px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(36,36,36,1);
	}
	#About_Me_d {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 631px;
		white-space: nowrap;
		line-height: 164px;
		margin-top: -22px;
		text-align: left;
		font-family: Microsoft Tai Le;
		font-style: normal;
		font-weight: bold;
		font-size: 120px;
		color: rgba(99,99,99,1);
		letter-spacing: 0.1px;
		text-transform: uppercase;
	}
	#closeUp_d {
		position: absolute;
		width: 476px;
		height: 476px;
		left: 77px;
		top: 158px;
		overflow: visible;
	}
	#Background_d {
		position: absolute;
		width: 1901px;
		height: 1950px;
		left: -529px;
		top: -107px;
		overflow: visible;
	}
	#ID85360023_d {
		position: relative;
		width: 1901px;
		height: 1260px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Left-Side_Gradiant_ea {
		fill: url(#Left-Side_Gradiant_ea);
	}
	.Left-Side_Gradiant_ea {
		position: absolute;
		overflow: visible;
		width: 799px;
		height: 1053px;
		left: 529px;
		top: 207px;
	}
	#Tablet_d {
		position: absolute;
		width: 691px;
		height: 994px;
		left: 583px;
		top: 956px;
		overflow: visible;
	}
	#Rectangle_9_ea {
		fill: url(#Rectangle_9_ea);
	}
	.Rectangle_9_ea {
		position: absolute;
		overflow: visible;
		width: 676px;
		height: 232px;
		left: 15px;
		top: 762px;
	}
	#Rectangle_7_ea {
		fill: url(#Rectangle_7_ea);
	}
	.Rectangle_7_ea {
		position: absolute;
		overflow: visible;
		width: 676px;
		height: 862px;
		left: 15px;
		top: 0px;
	}
	#Rectangle_6_ec {
		fill: url(#Rectangle_6_ec);
	}
	.Rectangle_6_ec {
		position: absolute;
		overflow: visible;
		width: 677px;
		height: 863px;
		left: 0px;
		top: 15px;
	}
	#Language_Experience_ed {
		mix-blend-mode: normal;
		position: absolute;
		width: 495.76px;
		height: 243.217px;
		left: 74px;
		top: 298px;
		overflow: visible;
	}
	#CC_C_HTMLCSS_JavaScript_Python_ee {
		left: 1px;
		top: 56px;
		position: absolute;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		line-height: 37px;
		margin-top: -7.5px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(51,51,51,1);
	}
	#Line_1_ef {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_ef {
		overflow: visible;
		position: absolute;
		width: 494.753px;
		height: 3.19px;
		left: 1.011px;
		top: 48.272px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3_eg {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3_eg {
		overflow: visible;
		position: absolute;
		width: 494.753px;
		height: 3.19px;
		left: 1.011px;
		top: 242.027px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Language_Experience_eh {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 383px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 37px;
		color: rgba(0,0,0,1);
	}
	#Interests_ei {
		mix-blend-mode: normal;
		position: absolute;
		width: 495.95px;
		height: 206.53px;
		left: 75px;
		top: 621px;
		overflow: visible;
	}
	#Robotics_Photography_Neural_Ne_ej {
		left: 0px;
		top: 56px;
		position: absolute;
		overflow: visible;
		width: 164px;
		white-space: nowrap;
		line-height: 37px;
		margin-top: -7.5px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(51,51,51,1);
	}
	#Line_1_ek {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_ek {
		overflow: visible;
		position: absolute;
		width: 494.753px;
		height: 3.19px;
		left: 1.201px;
		top: 48.485px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3_el {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3_el {
		overflow: visible;
		position: absolute;
		width: 494.753px;
		height: 3.19px;
		left: 1.201px;
		top: 205.339px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Interests_em {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 155px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 37px;
		color: rgba(0,0,0,1);
	}
	#Background_en {
		mix-blend-mode: normal;
		position: absolute;
		width: 494.76px;
		height: 171.715px;
		left: 75px;
		top: 48px;
		overflow: visible;
	}
	#Computer_Science_Undergraduate_eo {
		left: 8px;
		top: 56px;
		position: absolute;
		overflow: visible;
		width: 384px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(51,51,51,1);
	}
	#Line_1_ep {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1_ep {
		overflow: visible;
		position: absolute;
		width: 494.753px;
		height: 3.19px;
		left: 0.011px;
		top: 50.3px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3_eq {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3_eq {
		overflow: visible;
		position: absolute;
		width: 494.753px;
		height: 3.19px;
		left: 0.011px;
		top: 170.525px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Background_er {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 219px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 37px;
		color: rgba(0,0,0,1);
	}
	#Welcome_es {
		left: 583px;
		top: 289px;
		position: absolute;
		overflow: visible;
		width: 623px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft Tai Le;
		font-style: normal;
		font-weight: bold;
		font-size: 125px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.1px;
		text-transform: uppercase;
	}
	#Im_Elliott_Chimienti_et {
		left: 583px;
		top: 448px;
		position: absolute;
		overflow: visible;
		width: 328px;
		white-space: nowrap;
		text-align: left;
		font-family: Microsoft New Tai Lue;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		color: rgba(255,255,255,1);
	}
	#Navigation_eu {
		position: absolute;
		width: 799px;
		height: 151px;
		left: 0px;
		top: -51px;
		overflow: visible;
	}
	#Rectangle_2_ev {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_2_ev {
		position: absolute;
		overflow: visible;
		width: 799px;
		height: 100px;
		left: 0px;
		top: 51px;
	}
	#Component_3__7 {
		position: absolute;
		width: 76px;
		height: 113px;
		left: 41px;
		top: 2px;
		overflow: visible;
	}
	#Home_ex:hover {
		padding-left: 0px;
		padding-top: 0px;
		width: 77px;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Home_ex {
		left: 12px;
		top: 91px;
		position: absolute;
		overflow: visible;
		width: 53px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(112,112,112,1);
		text-transform: uppercase;
		transition: all .3s ease-out;
	}
	#Home_ez {
		padding-left: 0px;
		padding-top: 0px;
		position: absolute;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Component_1__7 {
		position: absolute;
		width: 128px;
		height: 100px;
		left: 309px;
		top: 13px;
		overflow: visible;
	}
	#Photography_e:hover {
		margin-left: 0px;
		margin-top: 0px;
		width: 189px;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Photography_e {
		left: 0px;
		top: 78px;
		position: absolute;
		overflow: visible;
		width: 129px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(112,112,112,1);
		text-transform: uppercase;
		transition: all .3s ease-out;
	}
	#Photography_fb {
		margin-left: 0px;
		margin-top: 0px;
		position: absolute;
		overflow: visible;
		width: 129px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#GitHub-Mark-120px-plus_e {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 667px;
		top: 88px;
		overflow: visible;
	}
	#Mask_Group_4_e {
		position: absolute;
		width: 27px;
		height: 27px;
		left: 718px;
		top: 88px;
		overflow: visible;
	}
	#Component_3__11 {
		position: absolute;
		width: 120px;
		height: 113px;
		left: 153px;
		top: 0px;
		overflow: visible;
	}
	#Projects_e:hover {
		padding-left: 0px;
		padding-top: 0px;
		width: 77px;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Projects_e {
		left: 19px;
		top: 91px;
		position: absolute;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		color: rgba(112,112,112,1);
		text-transform: uppercase;
		transition: all .3s ease-out;
	}
	#Projects_fa {
		padding-left: 0px;
		padding-top: 0px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: center;
		font-family: Microsoft PhagsPa;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
}
